.product-wrapper {
    color: cornflowerblue;
}

.product-detail > img {
    padding: 2em;
    border: solid cornflowerblue 4px;
}

.flip-container {
    perspective: 300;
}
/* flip the pic when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}
/* flip speed goes here */

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    
    transform: rotateY(0deg);
}
/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

.button-nav > .btn-group {}

.product-select {
    width: 100%;
    display: inline;
}

.product-select > .btn {
    width: 20%;
    margin-top: -0.8ex;
    border-radius: 0;
    border-right: solid cornflowerblue 2px;
    border-left: solid cornflowerblue 2px;
    border-top: solid cornflowerblue 4px;
    border-bottom: solid cornflowerblue 4px;
}
/*
.product-select > .btn:first-child {
    border-left: solid cornflowerblue 4px;
}
.product-select > .btn:last-child {
    border-right: solid cornflowerblue 4px;
}
*/

.product-name {
    display: block;
    float: left;
    margin: 0.5ex 0;
    font-weight: 400;
}

.price {
    text-align: right;
    display: block;
    margin: 0.7ex 0;
    font-size: 1.5em;
    font-weight: bolder;
}